*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

#root{
    position: relative;
}

.openpage{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: goldenrod;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9000;
    font-size: 7rem;
}

.display_none_openpage{
    display: none;
}

.container{
    background-color: lightgray;
    position: relative;
    height: 100vh;
}

.green_bar{
    height: 100px;
    background-color: #009688;
}

#root{
    height: 90vh;
    background-color: white;
    position: absolute;
    top: 2rem;
    left: 8rem;
    right: 8rem;
    display: flex;
}

.col_1{
    width: 450px;
    height: 100%;
}

.user{
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: #eaeaea;
}

.img_users{
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    margin-right: 8px;
}

.icone{
    color: gray;
    margin: 0 7px;
    font-size: 1.2rem;
}

.user_info{
    display: flex;
    align-items: center;
}

.name_user{
    font-weight: 600;
}

.notifiche{
    background-color: #8edafc;
    height: 5rem;
    display: flex;
    align-items: center;
}

.white{
    background-color: white;
    color: #8edafc;
    font-size: 1.2rem;
    text-align: center;
    line-height: 3rem;
}

.bell{
    margin-left: 20px;
}

.messages_notifiche{
    display: flex;
    flex-direction: column;
}

.underline{
    text-decoration: underline;
    font-size: 0.7rem;
    color: gray;
}

.search_bar{
    height: 3rem;
    background-color:#fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search_user{
    width: 86%;
    height: 2rem;
    border: none;
}

.search_button{
    width: 12%;
    height: 2rem;
    background-color: white;
    border: none;
}

.users_chats{
    height: calc(100% - 12rem);
    overflow-y: scroll;
}

.user_chat_card{
    display: flex;
    justify-content: space-between;
    padding: 7px;
    border-bottom: 1px solid #eaeaea;
}

.user_chat_card:hover{
    background-color:#eaeaea;
}

.active{
    background-color:#eaeaea;
}

.time{
    color: gray;
    font-size: 0.8rem;
}

.last_message{
    font-size: 0.7rem;
    color: gray;
}

.col_2{
    width: calc(100% - 450px);
    background-image: url(../img/mine.jpg);
}

.lista_messaggi{
    padding: 1.5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.my_message{
    background-color: #d5f9ba;
    align-self: flex-end;
    width: 325px;
    margin: 0.5rem;
    height: 3rem;
    line-height: 3rem;
    padding-left: 1rem;
    position: relative;
    border-radius: 10px;
}

.your_message{
    background-color: white;
    align-self: flex-start;
    width: 325px;
    margin: 0.5rem;
    height: 3rem;
    line-height: 3rem;
    padding-left: 1rem;
    position: relative;
    border-radius: 10px;
}

.timing_message{
    position: absolute;
    right: 8px;
    bottom: -13px;
    font-size: small;
    color: gray;
}

.container_messaggi{
    overflow-y: scroll;
    height: calc(100% - 8rem);
}

.text_bar{
    height: 4rem;
    background-color:#eaeaea;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#write_message{
    width: 740px;
    height: 2.5rem;
    border: none;
    padding-left: 10px;
}

.emoticon_button{
    border: none;
    height: 2rem;
    font-size: 1.3rem;
    color: gray;
}

button{
    cursor: pointer;
}

.my_message:hover .arrow{
    visibility: visible;
}

.your_message:hover .arrow{
    visibility: visible;
}

.arrow{
    border: none;
    background-color: transparent;
    position: absolute;
    top:3px;
    right: 8px;
    visibility: hidden;
}


.delete{
    background-color: white;
    border: 1px solid black;
    font-size: medium;
    width: 10rem;
    padding-left: 0.4rem;
    position: absolute;
    top: 2rem;
    right: -1rem;
    z-index: 1312;
    cursor: pointer;
}

.relative{
    position: relative;
}

.options_delete{
    position: absolute;
    top: 2rem;
    right: 1rem;
    z-index: 100000;
}

.delete_all{
    background-color: white;
    border: 1px solid black;
    width: 12rem;
    height: 2rem;
    line-height: 2rem;
    padding-left: 10px;
    cursor: pointer;
    display: none;
}

.block{
    display: block;
}

.three_points{
    border: none;
    background-color: transparent;
}