<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzap</title>
</head>

<body>
    <div class="container">
        <div class="green_bar"></div>
        <div id="root">
            <div class="col_1">
                <div class="user">
                    <div class="user_info">
                        <img class="img_users" src="img/avatar_io.jpg" alt="">
                        <div class="name_user">Sofia</div>
                    </div>
                    <div class="icons">
                        <i class="icone fa-solid fa-circle-notch"></i>
                        <i class="icone fa-solid fa-message"></i>
                        <i class="icone fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>

                <div class="notifiche">
                    <div class="bell">
                        <i class="img_users white fa-solid fa-bell-slash"></i>
                    </div>
                    <div class="messages_notifiche">
                        <div class="name_user">Ricevi notifiche di nuovi messaggi</div>
                        <div class="underline">Attiva botifiche desktop</div>
                    </div>
                </div>

                <div class="search_bar">
                    <button class="search_button"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <input type="text" name="search_user" id="search_user" placeholder="Cerca o inizia una nuova chat">
                </div>

                <div class="users_chats">

                    <div v-for="(element, index) in arrayUtentiChat" class="user_chat_card">
                        <div class="user_info">
                            <img class="img_users" :src="'img/' + element.imgUtente"alt="">
                            <div>
                                <div class="name_user">{{ element.nome }}</div>
                                <div class="last_message">{{ element.lastMessage }}</div>

                            </div>
                        </div>
                        <div class="time">12:00</div>
                    </div>


                </div>
            </div>

            <div class="col_2">
                <div class="user">
                    <div class="user_info">
                        <img class="img_users" src="img/avatar_1.jpg" alt="">
                        <div>
                            <div class="name_user">Michele</div>
                            <div class="last_message">Ultimo messaggio inviato alle 12:00</div>

                        </div>
                    </div>
                    <div class="icons">
                        <i class="icone fa-solid fa-magnifying-glass"></i>
                        <i class="icone fa-solid fa-link"></i>
                        <i class="icone fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>

                <div class="container_messaggi">
                    <ul class="lista_messaggi">
                        <li class="my_message"><div> Hai portato a spasso il cane</div> <span class="timing_message">12.00</span>
                        </li>
                        <li class="my_message"><div>Ricordati di stendere i panni</div> <span class="timing_message">12.00</span>
                        </li>
                        <li class="your_message"><div>Tutto fatto!</div> <span class="timing_message">12.00</span></li>


                    </ul>
                </div>

                <div class="text_bar">
                    <button class="emoticon_button"><i class="fa-regular fa-face-smile"></i></button>
                    <input @keyup.enter="messaggioInviato()" v-model="newMessage" type="text" name="write_message" id="write_message" placeholder="Scrivi un messaggio">
                    <button class="emoticon_button"><i class="fa-solid fa-microphone"></i></button>
                </div>




            </div>






        </div>
    </div>









    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/script.js"></script>
</body>

</html>