<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzap</title>
</head>

<body>
    <div class="container">
        <div class="green_bar"></div>
        <div id="root">

            <!-- COLONNA DI SINISTRA -->
            <div class="col_1">


                <!-- SEZIONE PERSONALE USER -->
                <div class="user">
                    <div class="user_info">
                        <img class="img_users" src="img/avatar_io.jpg" alt="">
                        <div class="name_user">Sofia</div>
                    </div>
                    <div class="icons">
                        <i class="icone fa-solid fa-circle-notch"></i>
                        <i class="icone fa-solid fa-message"></i>
                        <i class="icone fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>


                <!-- SEZIONE SILENZIA NOTIFICHE -->
                <div class="notifiche">
                    <div class="bell">
                        <i class="img_users white fa-solid fa-bell-slash"></i>
                    </div>
                    <div class="messages_notifiche">
                        <div class="name_user">Ricevi notifiche di nuovi messaggi</div>
                        <div class="underline">Attiva botifiche desktop</div>
                    </div>
                </div>


                <!-- SEARCH BAR PER VARIE CHAT -->
                <div class="search_bar">
                    <button class="search_button"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <input type="text" name="search_user" id="search_user" placeholder="Cerca o inizia una nuova chat">
                </div>




                <!-- SEZIONE DIVERSE CHAT DEI DIVERSI UTENTI -->
                <div class="users_chats">

                    <div v-for="(element, index) in arrayUtentiChat" :class="(index == indiceUtenteAttivo)? 'active' : '' " class="user_chat_card"
                        @click="cambioUtente(index)">
                        <div class="user_info">
                            <img class="img_users" :src="'img/' + arrayUtentiChat[index].imgUtente" alt="">
                            <div>
                                <div class="name_user">{{ element.nome }}</div>
                                <div class="last_message">{{ element.chat[element.chat.length - 1].testo }}</div>

                            </div>
                        </div>
                        <div class="time">{{ element.chat[element.chat.length - 1].ora }}</div>
                    </div>


                </div>
            </div>



            <!-- COLONNA DI DESTRA -->
            <div class="col_2">


                <!-- SEZIONE UTENTE ATTIVO -->
                <div class="user">
                    <div class="user_info">
                        <img class="img_users" :src="'img/' + arrayUtentiChat[indiceUtenteAttivo].imgUtente" alt="">
                        <div>
                            <div class="name_user">{{ arrayUtentiChat[indiceUtenteAttivo].nome }}</div>
                            <div class="last_message">Ultimo messaggio inviato alle {{arrayUtentiChat[indiceUtenteAttivo].chat[arrayUtentiChat[indiceUtenteAttivo].chat.length - 1].ora}}</div>

                        </div>
                    </div>
                    <div class="icons">
                        <i class="icone fa-solid fa-magnifying-glass"></i>
                        <i class="icone fa-solid fa-link"></i>
                        <i class="icone fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>



                <!-- CONTENITORE MESSAGGI  -->
                <div class="container_messaggi">
                    <ul class="lista_messaggi">
                        <li v-for="(element,index) in arrayUtentiChat[indiceUtenteAttivo].chat"
                            :key="element.messaggiRicevuti"
                            :class="(element.mittente == true) ? 'my_message' : 'your_message'">
                            <div> {{ element.testo }} </div> <span class="timing_message">{{ element.ora }}</span>
                            <button @click="visibleDelete" class="arrow"><i class="fa-solid fa-angle-down"></i></button>
                            <div :class="(visible==true) ? 'block' : ''" @click="deleteMessage(index)" class="delete">Cancella messaggio</div>
                        </li>
                    </ul>
                </div>



                <!-- BARRA INSERIMENTO NUOVO MESSAGGIO -->
                <div class="text_bar">
                    <button class="emoticon_button"><i class="fa-regular fa-face-smile"></i></button>
                    <input @keyup.enter="messaggioInviato(indiceUtenteAttivo)" v-model="newMessage" type="text"
                        name="write_message" id="write_message" placeholder="Scrivi un messaggio">
                    <button class="emoticon_button"><i class="fa-solid fa-microphone"></i></button>
                </div>
            </div>


        </div>
    </div>









    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/2.3.1/luxon.min.js"
        integrity="sha512-Nw0Abk+Ywwk5FzYTxtB70/xJRiCI0S2ORbXI3VBlFpKJ44LM6cW2WxIIolyKEOxOuMI90GIfXdlZRJepu7cczA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>